# Environment & secrets
.env

# Database files
*.db
*.db-wal
*.db-shm
data/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Git, docs & misc
.git
.gitignore
.dockerignore
Dockerfile
README.md
*.png
.DS_Store
